<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/css/style.css ">

    <script src="lib/angular/angular.js"></script>
    <script src="lib/js/script.js"></script>

    <title>Document</title>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron" >
            <h3 ng-bind="app"></h3>
        <div  class="actions">
            <input  class="form-control inputStyle" type="text" ng-model="searchFilter" placeholder="Buscar...">
            <button id="callAddContact" class="btn btn-primary btn-block" ng-click="callAddContact()">Adicionar</button>
            <button class="btn btn-danger btn-block" ng-click="removeContact(contacts)" ng-if="isRemoveContact(contacts)" >Delete Contact</button>
        </div>
        <table class="table table-striped ">
            <tr>
                <tr>
                    <th></th>
                    <th> <a href="" ng-click="orderPer('nome')">Nome</a></th>
                    <th> <a href="" ng-click="orderPer('telefone')">Telefone</a></th>
                    <th> <a href="" ng-click="orderPer('operadora')">Operadora</th>
                </tr>
                <tr  ng-class="{select: contact.select}" ng-repeat="contact in contacts | filter:searchFilter | orderBy:orderFilter:directOrder">
                    <td ><input type="checkbox" ng-model="contact.select"></td>
                        <td>{{contact.nome}}</td>
                        <td>{{contact.telefone}}</td>
                        <td>{{contact.operadora.nome}}</td>
                </tr>
            </tr>
        </table>
        <hr/>
        <div class="input-camp" ng-if="callAddContact(campAdd)">
            <input class="form-control ipunt" type="text" ng-model="contact.nome" placeholder="Nome...">
            <input class="form-control ipunt" type="text" ng-model="contact.telefone" placeholder="Telefone...">
            <select class="form-control ipunt" ng-model="contact.operadora" ng-options="operadora.nome group by operadora.categoira for operadora in operadoras | orderBy:'nome'">
                <option value=""">Selecione uma operadora</option>
            </select>
            <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="!contact.nome || !contact.telefone" )">Salvar</button>
        </div>
    </div>
</body>
</html>