<!DOCTYPE html>
<html lang="en" ng-app="listaFilmes">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/css/style.css ">

    <script src="lib/angular/angular.js"></script>
    <script src="lib/js/script.js"></script>

    <title>Document</title>
</head>
<body ng-controller="listaFilmesCtrl">
    <div class="jumbotron">
            <h3 ng-bind="app"></h3>
        <div  class="actions">
            <input  class="form-control inputStyle" type="text" ng-model="searchFilter" placeholder="Buscar...">
        </div>
        <table class="table table-striped">
            <tr>
                <tr class="title">
                    <th>Selecionar</th>
                    <th> <a href="" ng-click="orderPer('id')">ID</a></th>
                    <th> <a href="" ng-click="orderPer('title')">Tille</a></th>
                    <th> <a href="" ng-click="orderPer('crew')">Autor</th>
                </tr>
                <tr ng-class="{select: filme.select}" ng-repeat="filme in filmes | filter:searchFilter | orderBy:orderFilter:directOrder">
                    <td><input type="checkbox" ng-model="contact.select"></td>
                    <div class="content">
                        <td>{{filme.id}}</td>
                        <td>{{filme.title}}</td>
                        <td>{{filme.crew}}</td>
                    </div>
                </tr>
            </tr>
        </table>
        <hr/>
    </div>
</body>
</html>